<main id="main" class="main">
    <div class="pagetitle">
       <h1>Upload Data</h1>
 
    </div>
    <section class="section">
       <div class="row">
          <div class="col-md-6">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Input Training Data(csv)
                   </h5>
                   <form>
                      <div class="row mb-3">
                            <input class="form-control" type="file" id="formFile">
                      </div>
                      <div class="row mb-3">
                         <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
          <div class="col-md-6">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Input Test Data(csv)</h5>
                   <form>
                      <div class="row mb-3">
                            <input class="form-control" type="file" id="formFile">
                      </div>
                      <div class="row mb-3">
                         <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit </button>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
