
<main id="main" class="main">
    <div class="pagetitle">
       <h1>My Ml Model</h1> 
       <!-- <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Pages</li>
             <li class="breadcrumb-item active">Blank</li>
          </ol>
       </nav> -->
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert"> <i class="bi bi-exclamation-octagon me-1"></i>No model exists. You can creat new model by clicking on Add New Model button. <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>

    <!-- <button class="btn btn-primary" type="button">Add New Model</button> -->
    <!-- <section class="section">
        <div class="row">
           <div class="col-lg-12">
              <div class="card">
                 <div class="card-body">
                    <h5 class="card-title">Add New Model</h5>
                    <<p>Click button to add New Model.</p> 
                    <button class="btn btn-primary" type="button">Add New Model</button>
                 </div>
              </div>
           </div>
        </div>
     </section> -->
     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicModal"> Add New Modal </button>
     <section class="section">
   
                    <div class="modal fade" id="basicModal" tabindex="-1">
                       <div class="modal-dialog">
                          <div class="modal-content">
                             <div class="modal-header">
                                <h5 class="modal-title">Choose Modal Type</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                             </div>
                             <div class="modal-body">
                                <section class="section">
                                    <div class="row">
                                       <div class="col">
                                         
                                                <ul class="list-group">
                                                   <li class="list-group-item"> <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Cost Production</li>
                                                   <li class="list-group-item"> <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Persistency prediction
                                                   </li>
                                                   <li class="list-group-item"> <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Churn prediction</li>
                                                </ul>

                                                <fieldset class="row mb-3">
                                                   <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                                                   <div class="col-sm-10">
                                                      <div class="form-check"> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked> <label class="form-check-label" for="gridRadios1"> Cost Production </label></div>
                                                      <div class="form-check"> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2"> <label class="form-check-label" for="gridRadios2"> Persistency prediction </label></div>
                                                      <div class="form-check "> <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" > <label class="form-check-label" for="gridRadios3"> Churn prediction </label></div>
                                                   </div>
                                                </fieldset>
                                        
                                       </div>
                                    </div>
                                 </section>
                             </div>
                             <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save</button></div>
                          </div>
                       </div>
                    </div>
           
    </section>    
 </main>





